<f:layout name="Default" />


<f:section name="content">
<script type="text/javascript">
jQuery(document).ready(function(){
	var tableSetup = {
		iDisplayLength: 1000,
		bPaginate: false,
		bSearch: false,
		bInfo: false,
		bFilter: false,
		sScrollY: '400px',
		aoColumnDefs: [{
			bSortable: false,
			aTargets: ['notSortable']
		}]
	}
	/* DataTable plugin activate  */
	jQuery('.selectionList, .translationList').dataTable(tableSetup);
	/* Maxlength plugin for textarea activate  */
	jQuery("textarea").maxlength({max: 217});
	/* Datetime picker plugin activate  */
	jQuery('.datetime').datetimepicker();
});
</script>

<h1>Pushnachrichten</h1>

<f:flashMessages />


<div>
Nachricht (DE): <br>
<f:form.textarea cols="60" rows="5" name="nachricht_de" value="" />
<br>
<br>

Nachricht (EN): <br>
<f:form.textarea cols="60" rows="5" name="nachricht_en" value="" />
</div>

<div>

</div>


<br><br>



<table border="0" cellpadding="0" cellspacing="0" class="gridTable selectionList">
		<thead>
			<tr>
				<td class="check notSortable" style="width:10px !important;">&nbsp;</td>
				<td class="" style="width:80% !important;"><f:translate key="table.language">Versandliste</f:translate></td>
				<td class="" style="width:10% !important;"><f:translate key="table.locale">Empfanger</f:translate></td>
				<td class="" style="width:10% !important;"><f:translate key="table.active">Aktive Gerate</f:translate></td>
			</tr>
		</thead>
		<tbody>
			<f:for each="{tokenRecordss}" as="token" iteration="iteration">
				<tr class="{f:if(condition: language.selected, then: 'selected', else: '')}">
					<td class="check"><f:form.checkbox name="languageSelectionForm[selectedLanguages]sw[{iteration.index}]" value="{language.locale}" checked="{f:if(condition: language.selected, then: 'checked', else: '')}" id="locale-{language.locale}" /></td>
					<td class="language"><label for="locale-{language.locale}"><f:format.raw>{token.title}</f:format.raw></label></td>
					<td class="locale"><label for="locale-{language.locale}"><f:format.raw>{token.editLink}</f:format.raw></label></td>
					<td class="active"><label for="locale-{language.locale}">{language.locale}</label></td>
				</tr>
			</f:for>
		</tbody>
</table>


<p style="padding-top: 30px;">
	Versandzeitpunkt: <f:form.textfield name="myTextBox" value="" class="datetime"/>
</p>

<br>

<p>
	<f:form.submit name="mySubmit" value="An alle Empfanger schicken" />
</p>

</f:section>