<f:layout name="Default" />


<f:section name="content">
<script type="text/javascript">
jQuery(document).ready(function(){
	/* DataTable plugin settings  */
	var tableSetup = {
		iDisplayLength: 1000,
		bPaginate: false,
		bSearch: false,
		bInfo: false,
		bFilter: false,
		sScrollY: '400px',
		aoColumnDefs: [{
			bSortable: false,
			aTargets: ['notSortable']
		}]}
	/* DataTable plugin activate  */
	jQuery('.selectionList, .translationList').dataTable(tableSetup);
	if (jQuery(".gridTable tr").length < 20)
	{
		var cnt_tr = jQuery(".gridTable tr").length;
		jQuery(".dataTables_scrollBody").css({"height":19+cnt_tr*19+"px"});
	}
	jQuery(".chk_select").change(function(){
		var id_chk = jQuery(this).attr("id");
		if (jQuery(this).prop("checked"))
		{
			jQuery(".active-"+id_chk).attr("name","tx_q8ypushmessages_tools_q8ypushmessagestokenrecords[active][]");
		} else
		{
			jQuery(".active-"+id_chk).attr("name","")
		}
	});
	/* Maxlength plugin for textarea activate  */
	jQuery("textarea").maxlength({max: 169});
	/* Datetime picker plugin activate  */
	jQuery('.datetime').datetimepicker();
});


</script>

<h1>Pushnachrichten</h1>

<f:flashMessages />

<f:form action="sendMessages"  name="TokenRecords" object="{TokenRecords}">
<div>
Nachricht: <br>
<f:form.textarea cols="60" rows="5" name="nachricht_de" value="" />
<br>
<br>

<!-- 
Nachricht (EN): <br>
<f:form.textarea cols="60" rows="5" name="nachricht_en" value="" />
</div>

-->
<div>

</div>


<br><br>



<table border="0" cellpadding="0" cellspacing="0" class="gridTable selectionList">
		<thead>
			<tr>
				<td class="check notSortable" style="width:10px !important;">&nbsp;</td>
				<td class="" style="width:80% !important;"><f:translate key="table.language">Versandliste</f:translate></td>
				<td class="" style="width:10% !important;"><f:translate key="table.locale">Empfanger</f:translate></td>
				<td class="" style="width:10% !important;"><f:translate key="table.active">Aktive Gerate</f:translate></td>
			</tr>
		</thead>
		<tbody>
			<f:for each="{tokenRecordss}" as="token" iteration="iteration">
				<tr class="{f:if(condition: token.selected, then: 'selected', else: '')}">
					<td class="check"><f:form.checkbox name="languageSelectionForm[selectedLanguages][{iteration.index}]" value="{token.locale}" checked="{f:if(condition: token.selected, then: 'checked', else: '')}" class="chk_select" id="chk-{iteration.index}" /></td>
					<td class="language"><label for="locale-{iteration.index}"><f:format.raw>{token.title}</f:format.raw></label></td>
					<td class="locale"><label for="locale-{iteration.index}" style="text-align:center;"><f:format.raw><strong>{token.users_count}</strong></f:format.raw><span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-pagetree-folder-contains-fe_users"></span></label></td>
					<td class="active"><label for="locale-{iteration.index}" style="text-align:center;"><strong><f:format.raw>{token.active_array}</f:format.raw></strong><span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-pagetree-folder-contains-fe_users"></span></label>
						<f:for each="{token.active_list}" as="active_user" iteration="cnt">
						    <f:form.hidden name="" class="active-chk-{iteration.index}" value="{active_user}" />        
						</f:for>
					</td>
				</tr>
			</f:for>
		</tbody>
</table>


<p style="padding-top: 30px;">
	Versandzeitpunkt: <f:form.textfield name="datetime" value="" class="datetime"/>
</p>

<br>

<p>
	<f:form.submit name="mySubmit" value="An alle Empfanger schicken" />
</p>

</f:form>

</f:section>