<table class="tx-q8y-pushmessages" >
	<tr>
		<td>
			<f:translate key="tx_q8ypushmessages_domain_model_tokenrecords.token" />
		</td>
		<td>
			{tokenRecords.token}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_q8ypushmessages_domain_model_tokenrecords.timestamp" />
		</td>
		<td>
			{tokenRecords.timestamp -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_q8ypushmessages_domain_model_tokenrecords.active" />
		</td>
		<td>
			{tokenRecords.active}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_q8ypushmessages_domain_model_tokenrecords.feuseruid" />
		</td>
		<td>
			{tokenRecords.feuseruid}
		</td>
	</tr>
</table>